In [1]:
import pandas as pd
import numpy as np

In [2]:
# Cria uma serie
pd.Series(np.random.rand(5), index=['a','b','c','d','e'])

a    0.390748
b    0.522740
c    0.690199
d    0.129391
e    0.744835
dtype: float64

In [3]:
pd

In [4]:
s=pd.Series(np.random.rand(5), index=['a','b','c','d','e'])

In [5]:
s

a    0.768689
b    0.965714
c    0.158479
d    0.189930
e    0.819923
dtype: float64

In [6]:
print(s[2])

0.158479433419

In [7]:
print(s[:3])

a    0.768689
b    0.965714
c    0.158479
dtype: float64

In [8]:
df = pd.DataFrame(s, columns=['Coluna 1'])

In [9]:
df

   Coluna 1
a  0.768689
b  0.965714
c  0.158479
d  0.189930
e  0.819923

In [10]:
df['Coluna 2'] = df['Coluna 1'] * 4

In [11]:
df

   Coluna 1  Coluna 2
a  0.768689  3.074756
b  0.965714  3.862855
c  0.158479  0.633918
d  0.189930  0.759720
e  0.819923  3.279692

In [12]:
df.describe()

       Coluna 1  Coluna 2
count  5.000000  5.000000
mean   0.580547  2.322188
std    0.378079  1.512315
min    0.158479  0.633918
25%    0.189930  0.759720
50%    0.768689  3.074756
75%    0.819923  3.279692
max    0.965714  3.862855